<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>10/23/2021</td><td>0.40972mBTC</td><td>MoreWallets</td></tr>
<tr><td>10/21/2021</td><td>0.00799mBTC</td><td>Any</td></tr>
<tr><td>10/9/2021</td><td>0.00857mBTC</td><td>Any</td></tr>
<tr><td>10/6/2021</td><td>1mBTC</td><td>Any</td></tr>
<tr><td>9/19/2021</td><td>0.00107mBTC</td><td>Any</td></tr>
<tr><td>9/10/2021</td><td>0.00003mBTC</td><td>NonWalletApps</td></tr>
<tr><td>9/10/2021</td><td>0.00004mBTC</td><td>Any</td></tr>
<tr><td>9/10/2021</td><td>0.00485mBTC</td><td>Any</td></tr>
<tr><td>9/5/2021</td><td>1.9833mBTC</td><td>MoreWallets</td></tr>
<tr><td>9/1/2021</td><td>0.00001mBTC</td><td>MoreWallets</td></tr>
<tr><td>8/28/2021</td><td>0.00021mBTC</td><td>Any</td></tr>
<tr><td>8/28/2021</td><td>0.00021mBTC</td><td>Any</td></tr>
<tr><td>8/28/2021</td><td>0.00021mBTC</td><td>Any</td></tr>
<tr><td>8/28/2021</td><td>0.02047mBTC</td><td>Any</td></tr>
<tr><td>8/28/2021</td><td>0.00021mBTC</td><td>Any</td></tr>
<tr><td>8/28/2021</td><td>0.10176mBTC</td><td>Any</td></tr>
<tr><td>8/20/2021</td><td>0.00212mBTC</td><td>Any</td></tr>
<tr><td>8/18/2021</td><td>0.00023mBTC</td><td>CodeReviews</td></tr>
<tr><td>8/12/2021</td><td>2.24848mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>1915.32565mBTC</td></tr>
<tr><td>CodeReviews</td><td>5.15573mBTC</td></tr>
<tr><td>MoreOS</td><td>3.05023mBTC</td></tr>
<tr><td>MoreWallets</td><td>2.49639mBTC</td></tr>
<tr><td>Alerts</td><td>0.01231mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><td>NonWalletApps</td><td>0.00003mBTC</td></tr>
<tr><th>Total</th><th>1926.04131mBTC</th></tr>
</table>