{%- assign v = site.data.verdicts[include.verdict]
-%}<a id="{{ include.verdict }}" href="/methodology/#{{ include.verdict }}" class="verdictBadge {{ include.verdict }}"><span>{%- case include.type -%}
  {%- when "short" -%}{{- v.short -}}
  {%- when "medium" -%}{{- v.title -}}
  {%- when "long" -%}{{- v.message -}}
  {%- else -%}error2: {{- include.verdict -}}
{%- endcase -%}</span></a>&nbsp;